@use './modules/colors';

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.fieldWrapper {
  background: colors.$white;
  border: 1px solid colors.$white;
  border-radius: 3px;
  min-width: min(400px, 100% - 1rem);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  input {
    width: 100%;
  }
}
.error {
  color: colors.$splash;
  text-align: right;
}

.button {
  max-width: 500px;
}

.buttonContainer {
  text-align: right;
  padding-top: 1rem;
}

.locationSelect {
  cursor: pointer;
  color: colors.$secondary;
  &:hover {
    color: colors.$primary;
  }
}